.form-sign__button {
  
  height: 45px;
  border-radius: 3px;
  border: none;
  background-color: #4285f4;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.21;
  color: #fff;
}

.sign__error{
  margin-top: 179px;
  color: #ee3465;
  font-size: 14px;
  margin-bottom: 5px;
}


@media(max-width: 321px){
  .sign__error{
    margin-top: 267px;
    font-size: 12px;
  }

  .form-sign__button {
    font-size: 12px;}
}